:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;

  header {
    margin-top: 20px;
    width: 90%;
    max-width: 1000px;

    .row-add {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
      }
    }

    mat-form-field.input-pesquisar, form-field.input-pesquisar * {
      width: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 1000px;
    background-color: #FFF;

    mat-table {
      width: 100%;
    }

    p {
      margin: 12px 0;
      text-align: center;
      font-weight: lighter;
      font-family: 'Roboto', sans-serif;
    }
  }
}
